{{!-- making a div for the auth-message --}}
<div id="auth-messages">
	{{!-- This is a message for eahc of the auth messages if there is any--}}
  <ul>{{#each messages}}
    <li>{{this}}</li>
    {{/each}}
  </ul>

</div>

{{!-- div for a login form --}}
<div id='login'>

  <h2>Log in</h2>

  {{!-- form that takes peoples input to login --}}
  <form action="/auth/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" color="green" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" color="green" name="password" required>
    <br>
    <input type="submit" value="Login">
  </form>

</div>

{{!-- div to signup --}}
<div id='signup'>

  <h2>Sign up for an account</h2>
	
	{{!-- form that takes peoples input to signup --}}
  <form action="/auth/signup" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" required>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <br>
    <input type="submit" value="Sign up">
  </form>

</div>