<!DOCTYPE html>
<html>
  <head>
    <title>{{item.name}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<!-- adding a home button to the Top of all the pages -->
	<p><a href="/">Home</a></p>
	<hr>
    {{{body}}}
  </body>
</html>
